<div class="content">

  <div class="buttons">

    <button (click)="NewUser()"
            mat-button color="primary">
      Generate User
    </button>

    <button (click)="GetLights()"
            mat-button color="primary">
      Get All Lights
    </button>

    <button (click)="NewUser()"
            mat-button color="primary">
      Test Button 3
    </button>

  </div>

  <mat-form-field>
    <mat-label>IP Addr. of Bridge:</mat-label>
    <input matInput type="text" [(ngModel)]="bridgeIP">
  </mat-form-field>

  <div class="light-cards">

    <app-light-card *ngFor="let light of lights" [light]="light"></app-light-card>

  </div>

  <textarea rows="30" cols="100">{{ debugText }}</textarea>

</div>
